.qFrame {
    background-color: white;
    width: 343px;
    height: 204px;
    border-radius: 12px 12px 0 0;
    position: absolute;
    top: 100px;
    left: calc(50% - 171.5px);
    color: black;
    transition: height 0.4s ease, border-radius 0.4s ease;
}

.qFrame.inputMode {
    height: 112px;
    border-radius: 12px;
}

.qNumber {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -5px;
    text-align: center;
}

.qLine {
    background-color: #d9d9d9;
    width: 343px;
    height: 1px;
    position: relative;
    top: -9px;
    text-align: center;
}

.qTitle {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    top: 10px;
    text-align: center;
    transition: top 0.4s ease;
}

.qFrame.inputMode .qTitle {
    top: -30px;
}

.ansNumber {
    font-size: 10px;
    position: relative;
    top: -9px;
    text-align: center;
    transition: opacity 0.4s ease, top 0.4s ease;
}

.ansNumber span {
    font-size: 16px;
}

.qFrame.inputMode .ansNumber {
    top: -70px;
    opacity: 0;
}

.explainFrame {
    background-color: #501aa9;
    width: 343px;
    height: 155px;
    border-radius: 0 0 12px 12px;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 304px;
    left: calc(50% - 171.5px);
    transition: opacity 0.4s ease, top 0.4s ease;
}

.explainFrame p {
    position: relative;
    top: 4px;
    left: 20px;
}

.explainFrame .ansExample {
    font-weight: 700;
}

.explainFrame span {
    font-size: 16px;
}

.explainFrame.inputMode {
    top: 212px;
    opacity: 0;
}

.ansBlur {
    background-color: rgba(19, 19, 19, 0.57);
    /* 色: #131313, 透明度: 57% */
    width: 343px;
    height: 116px;
    border-radius: 12px;
    /* 角の丸み */
    position: absolute;
    top: 470px;
    left: calc(50% - 171.5px);
    transition: top 0.4s ease, height 0.9s ease;
}

.ansBlur.inputMode {
    top: 223px;
}

.ansBlur.valid {
    height: 156px;
}

.ansInputForm {
    height: 42px;
    width: 60%;
    padding: 0 16px;
    border-radius: 21px;
    position: relative;
    font-size: 16px;
    top: 25px;
    left: 50px;
    border: none;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ansInputForm:hover {
    outline: 0;
    box-shadow: 0 0 0 2px #aaaaaa inset;
}

.ansInputForm:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.ansInputForm::placeholder {
    color: #d9d9d9;
    /* Placeholder text color */
    font-weight: 400;
    /* Placeholder text weight */
}

.ansButton {
    background-color: #3bb9c1;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    top: -12px;
    left: 250px;
    transition: background-color 0.2s ease;
}

.ansButton img {
    width: 20px;
    background-color: transparent;
    position: relative;
    top: 6px;
    left: 6px;
    transition: transform 0.6s ease;
}

.ansBlur.valid .ansButton img {
    transition: transform 0.9s ease;
    transform: rotate(90deg);
}

.ansBlur.valid .ansButton {
    background-color: #aaaaaa;
    transition: background-color 0.9s ease;
}

.ansButton:active {
    background-color: #217075;
}


.validationMessage {
    opacity: 0;

    background-color: #BF0000;
    width: 136px;
    height: 26px;
    border-radius: 13px;
    position: relative;
    top: -12px;
    left: 103px;
    text-align: center;
    transition: opacity 0.4s ease;
}

.validationMessage.alert {
    opacity: 1;
}

.ansBlur .btn {
    opacity: 0;
    position: relative;
    top: -80px;
    transition: opacity 0.9s ease, top 0.9s ease;
    pointer-events: none;
}

.ansBlur.valid .btn {
    opacity: 1;
    top: -45px;
    pointer-events: auto;
}