.resultModal{
    width: 343px;
    color: black;
    height: 20px;
    position: absolute;
    top: 159px;
    left: 16px;
}

.resultFrameModal {
    background-color: white;
    height: 60px;
    color: black;
    width: 343px;
    border-radius: 12px 12px 0 0;
}

.resultUserFrameModal{
    position: relative;
    background-color: #501AA9;
    width: 343px;
    height: 124px;
    border-radius: 0 0 12px 12px;
}

.resultFrameModal table{
    border-collapse: collapse;
    width: 343px;
}

.resultFrameModal table td{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 33%;
    padding-top: 6px;
}

.rankModal{
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    position: relative;
    right: 50px;
    top: 2px;
}

.answerModal{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.pointModal{
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    position: relative;
    right: 20px;
    top: 2px;
}

.answerUser{
    color: white;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    position: relative;
    top: 10px;
    left: 20px;
    width: 70px;
    height: 20px;
}

.answerUserList table{
    position: relative;
    top: 24px;
    left: 39px;
    border-collapse: collapse;
}

.answerUserList table td{
    margin: 0;
    box-sizing: border-box;
    width: 55px;
    padding: 6px 0;
    text-align: center;
}

