.userIconMini {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #FFFFFF;
}

.userIconNameMini {
  font-size: 9px;
  text-align: center;
  margin-top: 13px;
}

.userIconDepartmentMini {
  font-size: 6px;
  text-align: center;
  position: relative;
  top: -8.7px;
}

.userIconMiniAdmin {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.6);
}

.userIconNameMiniAdmin {
  font-size: 9px;
  text-align: center;
  margin-top: 13px;
}

.userIconDepartmentMiniAdmin {
  font-size: 6px;
  text-align: center;
  position: relative;
  top: -8.7px;
}